<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../filePage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script th:src="@{../filePage.js}"></script>
</head>
<body onload="initPage()">

<div th:if="${parentDirId>=0}">
    <form th:action="@{|/dirs/${parentDirId}|}" method="get">
        <button type="submit" th:text="Back"></button>
    </form>
</div>

<div>
    <form th:action="|/dirs/${currentDirId}|" method="post" enctype="multipart/form-data">
        <!--         <a type="file" th:href="|/upload/${currentDirId}|">Загрузить файл</a>-->
        <input type="file" name="fileToUpload"/>
        <br>
        <button type="submit">Сохранить файл</button>
        <input type="hidden" name="isItFile" value="true">
        <!--         Костыль-->
        <input type="hidden" name="dirName" value="">
        <!--         ~Костыль-->
    </form>
</div>
<br>
<div>
    <form th:action="|/dirs/${currentDirId}|" method="post" enctype="multipart/form-data">
        <label>
            Создать папку
            <input type="text" name="dirName" value="">
        </label>
        <br>
        <button type="submit">Сохранить</button>
        <input type="hidden" name="isItFile" value="false">
        <!--         Костыль-->
        <input type="hidden" name="fileToUpload" value=""/>
        <!--         ~Костыль-->
    </form>
</div>
<br>
<table class="filesTable">
    <tr>
        <td>Id</td>
        <td>Directory</td>
    </tr>
    <tr th:each="dir:${dirs}">
        <td th:text="${dir.id}"></td>
        <form th:action="@{|/dirs/${dir.id}|}" method="get">
            <td>
                <button type="submit" class="buttonLikeRow" th:text="${dir.directoryName}"></button>
            </td>
        </form>
        <td>
            <button class="js-delete-dir-button" th:id="${dir.id}">Удалить</button>
        </td>
        <td>
            <button class="js-deep-delete-dir-button" th:id="${dir.id}">Глубокое удаление</button>
        </td>
    </tr>
</table>
<br>
<table class="filesTable">
    <tr>
        <td>Id</td>
        <td>FileName</td>
        <td>FileSize</td>
    </tr>
    <tr th:each="file:${files}">
        <td th:text="${file.id}"></td>
        <td th:text="|${file.fileName}.${file.fileType}|"></td>
        <td th:text="${file.fileSize}"></td>
        <td style="border: 0"><a class="downloadButton" th:href="|/download/${file.id}|">Download</a></td>
        <td>
            <button class="js-delete-file-button" th:id="${file.id}">Удалить</button>
        </td>
    </tr>
</table>
</body>
</html>